<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KrispCallDev.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>31</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
				<key>dateExpires</key>
				<string>28/12/2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Datadog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.19.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DictionaryCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Intercom.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>15.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mixpanel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PhoneNumberKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.17.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>32933</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TwilioVoice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_settings.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audio_waveforms.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audioplayers_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>contacts_service.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_callkit_incoming.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_dtmf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_incall_manager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_libphonenumber.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_statusbarcolor_ns.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>integration_test.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>launch_review.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libPhoneNumber_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.15</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libphonenumber.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libphonenumber_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mixpanel_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>photo_manager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>stetho_a1.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>store_redirect.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>voice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wifi_iot.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>workmanager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A6BE3F2AE8CCE2698DA0127517C498F94356A28</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>49A8DQ27YT.app.krispcall.dev.OneSignalNotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>49A8DQ27YT</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.app.krispcall.dev.onesignal</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>a1b74f0e-edc8-4cc3-be40-548ee0bc89f4</string>
						<key>dateExpires</key>
						<string>28/12/2023</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: app.krispcall.dev.OneSignalNotificationServiceExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49A8DQ27YT</string>
						<key>name</key>
						<string>CODAVATAR TECH PVT. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>49A8DQ27YT.app.krispcall.dev</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>49A8DQ27YT</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.app.krispcall.dev.onesignal</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>inter-app-audio</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>849e5d50-7ca9-4408-bf7e-0e8e45dcd73f</string>
				<key>dateExpires</key>
				<string>28/12/2023</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: app.krispcall.dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>49A8DQ27YT</string>
				<key>name</key>
				<string>CODAVATAR TECH PVT. LTD.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.31</string>
		</dict>
	</array>
</dict>
</plist>
